{$DOWNSTREAM_REGISTRY} {
    __TLS_CONFIGURE
    reverse_proxy {$UPSTREAM_REGISTRY} {
        header_up Host {http.reverse_proxy.upstream.hostport}
        header_down WWW-Authenticate {$UPSTREAM_AUTH} {$SCHEME}://{$DOWNSTREAM_AUTH}
        header_down Location {$UPSTREAM_PRODUCTION} {$SCHEME}://{$DOWNSTREAM_PRODUCTION}
    }
}

{$DOWNSTREAM_AUTH} {
    __TLS_CONFIGURE
    reverse_proxy {$UPSTREAM_AUTH} {
            header_up Host {http.reverse_proxy.upstream.hostport}
    }
}

{$DOWNSTREAM_PRODUCTION} {
    __TLS_CONFIGURE
    reverse_proxy {$UPSTREAM_PRODUCTION} {
            header_up Host {http.reverse_proxy.upstream.hostport}
    }
}
